__pycache__/
*.tif
*.tiff
frontend/public/tiles/
frontend/public/tiles_flood/
frontend/public/tiles_land_use/
frontend/public/tiles_landuse2/
frontend/public/tiles_landuse_new/
frontend/public/tiles_waterbodies/
frontend/public/waterquality_tiles4/
backend/app/data/dem.tif
backend/app/data/landuse.tif


